@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

:root{
    font-size: 16px;
}

body{
    background-color: hsl(204, 43%, 93%);

}

main{
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow:column nowrap;
    position: relative;
    overflow: hidden;
    font-family: 'Karla';
    height: 800px;
}


.whole{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow:column nowrap;
    position: relative;
    width: 350px;

}

.down{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow:column nowrap;
    
}

.upper{
    height: 250px;
    padding: 20px;
    background-color:white ;
    border-radius: 10px 10px 0 0;
    text-align: left;
    
}

.upper h1 {
    color:hsl(179, 62%, 43%);
    padding-bottom: 10px;
    font-weight: 700;
    


}

.upper h4{
    color:hsl(71, 73%, 54%) ;
    padding: 10px 0;

}

.upper p{
    color:hsl(218, 22%, 67%) ;
    font-weight: 400;
    padding:10px 0;
    line-height: 1.6;
    font-size: 14px;
}

.right{

    height: 250px;
    padding: 20px;
    background-color:hsl(179, 62%, 43%) ;
    width: 350px;

    

}

.down{
    color:white;

}

.left{

    height: 250px;
    padding: 20px;
    background-color:hsl(179, 34%, 54%) ;
    width: 350px;
    border-radius: 0 0 10px 10px;
    text-align: left;

    

}

.right h1 , .left h1{
    padding-bottom: 10px;
    font-weight: 700;
    text-align: left;

}

.left p{

    font-weight: 400;
    padding:10px 0;
    line-height: 1.6;
    font-size: 14px;
    padding-right: 100px ;
}

.somin{
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
    text-align: left;
}

.idk{
    font-size: 36px;
    font-weight: 700;
    
}

.idc{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.76);
    padding-left:5px ;
}

.right p{
    padding:5px 0;
    font-weight: 400;
    text-align: left;

}

.right a{

    padding: 10px 80px;
    background-color: hsl(71, 73%, 54%) ;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.link{
    margin:30px 0;
}

footer{
    text-align: center;
    font-size: 10px;
}

@media only screen and (min-width:700px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    
    }
    
    :root{
        font-size: 16px;
    }
    
    body{
        background-color: hsl(204, 43%, 93%);
    
    }
    
    main{
       
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        overflow: hidden;
        font-family: 'Karla';
    }
    
    
    .whole{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow:column nowrap;
        position: relative;

    
    
    }

    .upper{
        width: 700px;
        height: 250px;
        padding: 20px;
        background-color:white ;
        border-radius: 10px 10px 0 0;
        text-align: left;
        
    }

    .upper h1 {
        color:hsl(179, 62%, 43%);
        padding-bottom: 10px;
        font-weight: 700;
        
    
    
    }
    
    .upper h4{
        color:hsl(71, 73%, 54%) ;
        padding: 10px 0;
    
    }
    
    .upper p{
        color:hsl(218, 22%, 67%) ;
        font-weight: 400;
        padding:10px 0;
        line-height: 1.6;
        font-size: 16px;
    }

    .down{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow:row nowrap;
        
    }

    .left{
        border-radius: 0 0 10px 0;
    }

    .right{
        border-radius: 0 0 0 10px;
    }




    








}




